.navbar-custom {
        border-radius: 0px;
        background-color: #333333;
        /*-webkit-filter: none;*/
    }
    /* change the brand and text color */
    
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: white;
    }
    /* change the link color */
    
    .navbar-custom .navbar-nav .nav-link {
        color: white;
    }
    /* change the color of active or hovered links */
    
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }
    
    .nav-search .input {
        /*border-radius: 0px;*/
        /*-webkit-border-radius: 0;*/
        /*-moz-border-radius: 0;*/
        /*border-radius: 0;*/
    }
    
    .navbar a {
        color: white;
    }
    
    .nav-search span {
        top: 0px;
    }
    
    body {
        background-color: #CCCCCC;
    }
    
    .form-control:focus {
        box-shadow: none;
    }
    /* ul.nav a:hover,
    ul.nav a:focus {
        color: #293e52 !important;
    }*/
    
    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: #333333 !important;
        color: gray;
    }
    
    html,
    body {
        /*background: url(images/Graduation.jpg) no-repeat center center fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        /*-webkit-filter: blur(2px);*/
    }
    
    .main {
        min-height: 85%;
    }
    
    footer {
        color: black;
    }
    
    .rate {
        list-style: none;
        font-size: 24px;
        color: black;
        /*width: 200px;*/
        /*height: 100px;*/
        padding-left: 0;
        display: inline-block;
        margin-bottom: 0px;
        line-height: 40px;
    }
    
    .rate li {
        float: left;
    }