{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>找校网</title>
    <link rel="icon" href="{% static 'images/logo.ico' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/zhaoxiao.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <div id="particles-js"></div>
    {% include 'nav.html' %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" style="z-index: 1">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 style="text-align: center; color: #000033;">找校</h1>
        <p style="text-align: center;">你要找的，就在这里</p>
        <br />
        <br />
        <br />
        <form class="form-inline align-middle" action="/search">
            <div class="row w-100 justify-content-md-center">
                <div class="input-group input-group-lg col-6">
                    <input type="text" class="form-control input-lg" placeholder="请输入学校名" id="main-search" name="q" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right"></ul>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning col-2"><span style="font-size: 24px">Search</span></button>
            </div>
        </form>

    </div>
    {% include 'foot.html' %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-suggest.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/zhaoxiao.js' %}"></script>
</body>
</html>
