<div class="container">
    <nav class="navbar navbar-light bg-fade">
        <a class="navbar-brand" href="/">找校网</a>
        <form class="form-inline navbar-toggler-right" action="/search">
            <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" id="nav_search"> -->
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入学校名" id="nav_search" name="q">
                    <!-- <span class="input-group-addon" id="basic-addon2">Search</span> -->
                    <!-- <span class="input-group-addon glyphicon glyphicon-search"></span> -->
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right"></ul>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-success" type="submit" style="margin-left: 10px">Search</button>
        </form>
    </nav>
</div>
