<div class="reviews col-11 offset-md-1">
    <p>按日期排序：</p>
    <div class="card mb-2">
        <div class="card-block">
            <h5 class="card-title">总评：<span class="align-baseline 5star" style="display: inline-block;"></span></h5>
            <div class="card-text">
                <p>With supporting text below as a natural lead-in to additional content...</p>
            </div>
            <div class="card-text">
                <p>With supporting text below as a natural lead-in to additional content</p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
            </div>
            <button href="#" class="btn btn-sm btn-outline-primary more">加载更多</button>
        </div>
        <div class="card-footer text-muted">
            计算机，大一，2 days ago
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-block">
            <h5 class="card-title">总评：<span class="align-baseline 5star" style="display: inline-block;"></span></h5>
            <div class="card-text">
                <p>With supporting text below as a natural lead-in to additional content...</p>
            </div>
            <div class="card-text">
                <p>With supporting text below as a natural lead-in to additional content</p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
            </div>
            <button href="#" class="btn btn-sm btn-outline-primary more">加载更多</button>
        </div>
        <div class="card-footer text-muted">
            计算机，大一，2 days ago
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-block">
            <h5 class="card-title">总评：<span class="align-baseline 5star" style="display: inline-block;"></span></h5>
            <div class="card-text">
                <p>With supporting text below as a natural lead-in to additional content...</p>
            </div>
            <div class="card-text">
                <p>With supporting text below as a natural lead-in to additional content</p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
                <p>学术：<span class="align-baseline 5star" style="display: inline-block;"></span></p>
            </div>
            <button href="#" class="btn btn-sm btn-outline-primary more">加载更多</button>
        </div>
        <div class="card-footer text-muted">
            计算机，大一，2 days ago
        </div>
    </div>
</div>
<br />
<br />
<nav class="col-12" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">Page 1 of 24</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<br />
<br />
<br />
<br />
