{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>找校网</title>
    <link rel="icon" href="{% static 'images/logo.ico' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/zhaoxiao.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">
</head>

<body>
    <div id="particles-js"></div>
    {% include 'nav.html' %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container main-container">
        {{ id }}
        {% include 'foot.html' %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-suggest.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/zhaoxiao.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        $(".5star").rateYo({
            starWidth: "18px",
            rating: 5,
            readOnly: true
        });
        $(".4star").rateYo({
            starWidth: "18px",
            rating: 4,
            readOnly: true
        });
        $(".3star").rateYo({
            starWidth: "18px",
            rating: 3,
            readOnly: true
        });
        $(".2star").rateYo({
            starWidth: "18px",
            rating: 2,
            readOnly: true
        });
        $(".1star").rateYo({
            starWidth: "18px",
            rating: 1,
            readOnly: true
        });

    });
    </script>
</body>

</html>
