{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>找校网</title>
    <link rel="icon" href="{% static 'images/logo.ico' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/progressjs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/zhaoxiao.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/school.css' %}">
    <style type="text/css">
    .list_item_5star {
        background: linear-gradient(to right, #CCCCFF 30%, #ffffff 70%);
    }
    </style>
</head>

<body>
    <div id="particles-js"></div>
    {% include 'nav.html' %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container main-container">
        <br />
        <div class="card">
            <div class="card-header">
                <h1>{{ school.name }}</h1>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <h5><span class="align-baseline" id="totalrate" style="display: inline-block;"></span>, {{ school_info.review_num }} 个评价</h5>
                        <h5>&nbsp;{{ school.administration_dept }}, {{ school.location }}, {{ school.level }}</h5>
                    </div>
                    <div class="col-md-2">
                        <a href="/school/{{ school.id }}/review" class="btn btn-primary mx-auto align-middle" style="display: inline-block">我要评价</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="w-100 row ml-0">
                    <div class="col-4">
                        <div class="rate-circle-total text-white bg-primary">
                            <p>{{ school_info.overall_rating__avg_level }}</p>
                        </div>
                        <h3 class="w-100" style="text-align: center">总评</h3>
                    </div>
                    <div class="col-8 row ml-0">
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.academic_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">学术氛围</p>
                        </div>
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.campus_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">校园环境</p>
                        </div>
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.dining_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">食堂伙食</p>
                        </div>
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.dorm_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">宿舍条件</p>
                        </div>
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.administration_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">行政管理</p>
                        </div>
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.facility_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">校园设施</p>
                        </div>
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.organization_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">社团活动</p>
                        </div>
                        <div class="col-4">
                            <div class="rate-circle text-white bg-info d-inline-block">
                                <p>{{ school_info.location_rating__avg_level }}</p>
                            </div>
                            <p class="d-inline-block ml-1" style="text-align: center">地理位置</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row w-100">
            <div class="col-3 border-top-0 border-left-0 border-bottom-0" style="border: 2px solid gray">
                <h5>筛选</h5>
                <div class="w-100 mb-1 starfilter" style="position: relative;" value="5">
                    <div class="progress w-100" style="z-index: -1; height: 40px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{school_info.stars_p.4}}%; height: 100%;" aria-valuenow="{{school_info.stars_p.4}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="my-mid" style="width: 150px; height: 40px; position: absolute; top:0;left: 0;">
                        <div class="5star d-inline-block px-0" style="margin-top: 10px; float: left;"></div>
                        <p class="d-inline-block" style="margin-top: 6px; float: right;"><span class="badge badge-default badge-pill">{{ school_info.stars.4 }}</span></p>
                    </div>
                </div>
                <div class="w-100 mb-1 starfilter" style="position: relative;" value="4">
                    <div class="progress w-100" style="z-index: -1; height: 40px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{school_info.stars_p.3}}%; height: 100%;" aria-valuenow="{{school_info.stars_p.3}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="my-mid" style="width: 150px; height: 40px; position: absolute; top:0;left: 0;">
                        <div class="4star d-inline-block px-0" style="margin-top: 10px; float: left;"></div>
                        <p class="d-inline-block" style="margin-top: 6px; float: right;"><span class="badge badge-default badge-pill">{{school_info.stars.3}}</span></p>
                    </div>
                </div>
                <div class="w-100 mb-1 starfilter" style="position: relative;" value="3">
                    <div class="progress w-100" style="z-index: -1; height: 40px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{school_info.stars_p.2}}%; height: 100%;" aria-valuenow="{{school_info.stars_p.2}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="my-mid" style="width: 150px; height: 40px; position: absolute; top:0;left: 0;">
                        <div class="3star d-inline-block px-0" style="margin-top: 10px; float: left;"></div>
                        <p class="d-inline-block" style="margin-top: 6px; float: right;"><span class="badge badge-default badge-pill">{{school_info.stars.2}}</span></p>
                    </div>
                </div>
                <div class="w-100 mb-1 starfilter" style="position: relative;" value="2">
                    <div class="progress w-100" style="z-index: -1; height: 40px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{school_info.stars_p.1}}%; height: 100%;" aria-valuenow="{{school_info.stars_p.1}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="my-mid" style="width: 150px; height: 40px; position: absolute; top:0;left: 0;">
                        <div class="2star d-inline-block px-0" style="margin-top: 10px; float: left;"></div>
                        <p class="d-inline-block" style="margin-top: 6px; float: right;"><span class="badge badge-default badge-pill">{{school_info.stars.1}}</span></p>
                    </div>
                </div>
                <div class="w-100 mb-1 starfilter" style="position: relative;" value="1">
                    <div class="progress w-100" style="z-index: -1; height: 40px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{school_info.stars_p.0}}%; height: 100%;" aria-valuenow="{{school_info.stars_p.1}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="my-mid" style="width: 150px; height: 40px; position: absolute; top:0;left: 0;">
                        <div class="1star d-inline-block px-0" style="margin-top: 10px; float: left;"></div>
                        <p class="d-inline-block" style="margin-top: 6px; float: right;"><span class="badge badge-default badge-pill">{{school_info.stars.0}}</span></p>
                    </div>
                </div>
                <hr />
                <h5>排序</h5>
                <select class="custom-select w-100" id="review_order">
                    <option value="1">评论日期</option>
                    <option value="2">评分</option>
                    <option value="3">专业</option>
                </select>
            </div>
            <div class="col-9 row" id="reviewcontainer">
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br /> {% include 'foot.html' %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-suggest.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/progress.js' %}"></script>
    <script src="{% static 'js/zhaoxiao.js' %}"></script>
    <script type="text/javascript">

    function myconpoments() {
        $(".more").prev().toggle();
        $(".more").click(function() {
            console.log("showmore")
            $(this).prev().toggle();
            $(this).prev().prev().toggle();
            if ($(this).html() == "加载更多")
                $(this).html("显示摘要");
            else {
                $(this).html("加载更多");
                $(this).html("加载更多");
            }
        });
        $("#totalrate").rateYo({
            starWidth: "18px",
            rating: {{ school_info.overall_rating__avg }},
            readOnly: true
        });
        $(".5star").rateYo({
            starWidth: "18px",
            rating: 5,
            readOnly: true
        });
        $(".4star").rateYo({
            starWidth: "18px",
            rating: 4,
            readOnly: true
        });
        $(".3star").rateYo({
            starWidth: "18px",
            rating: 3,
            readOnly: true
        });
        $(".2star").rateYo({
            starWidth: "18px",
            rating: 2,
            readOnly: true
        });
        $(".1star").rateYo({
            starWidth: "18px",
            rating: 1,
            readOnly: true
        });
        $(".my-mid").css("left", ($(".my-mid").parent().width() - $(".my-mid").width()) / 2);
    }
    myconpoments();
    window.school = {{ school.id }}
    window.filter = 0;
    window.order = 1;
    window.pages = null;
    window.cur = 1;
    reviewInit();
    $(".starfilter").click(function() {
        // console.log($(this).attr("value"));
        window.filter = $(this).attr("value");
        $(".progress").removeClass("bg-success");
        $(".progress-bar").addClass("bg-info");
        $(this).find(".progress").addClass("bg-success");
        $(this).find(".progress-bar").removeClass("bg-info");
        console.log(window.school, window.filter, window.order, window.pages, window.cur);
    });
    $("#review_order").on("change", function() {
        window.order = $(this).val();
        console.log(window.filter, window.order, window.pages, window.cur);
    });

    function reviewInit() {
        $.ajax({
            url: '/reviewsapi/?school=' + window.school + '&filter=' + window.filter + "&order=" + window.order,
            success: function(data) {
                // console.log(data);
                $("#reviewcontainer").html(data);
                myconpoments();
            }
        })
    }
    </script>
</body>

</html>
