{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>找校网</title>
    <link rel="icon" href="{% static 'images/logo.ico' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/zhaoxiao.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/school.css' %}">
</head>

<body>
    <div id="particles-js"></div>
    {% include 'nav.html' %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container main-container">
        <br />
        <div class="card">
            <div class="card-header">
                <h1>{{ school.name }}</h1>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <h5><span class="align-baseline" id="totalrate" style="display: inline-block;"></span>111 个评价</h5>
                        <h5>&nbsp;{{ school.administration_dept }}, {{ school.location }}, {{ school.level }}</h5>
                    </div>
                    <div class="col-md-2" W>
                        <a href="#" class="btn btn-primary mx-auto align-middle" style="display: inline-block">我要评价</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        {% include 'foot.html' %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-suggest.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/zhaoxiao.js' %}"></script>
    <script type="text/javascript">
    $(function() {

        $("#totalrate").rateYo({
            starWidth: "18px",
            rating: 3.5,
            readOnly: true
        });

    });
    </script>
</body>

</html>
