{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>找校网</title>
    <link rel="icon" href="{% static 'images/logo.ico' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/zhaoxiao.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchresult.css' %}">
</head>

<body>
    <div id="particles-js"></div>
    {% include 'nav.html' %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container main-container">
        <!-- <p>Search result for: <strong>{{ query }}</strong></p> -->
        <form class="form-inline searchresult-form w-100" action="/search">
            <div class="row w-100">
                <div class="form-group col-md-5 offset-md-1">
                    <div class="input-group">
                        <label for="nav_search">搜索：</label>
                        <input type="text" class="form-control" placeholder="输入学校名" id="nav_search" name="q" value="{{ query }}">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right"></ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-warning col-md-2" type="submit">Search</button>
            </div>
        </form>
        <br />
        <div class="results-container">
            <div class="result-info offset-md-1">
                <p>共检索到 <strong>{{ result_num }}</strong> 所相关院校：</p>
            </div>
            <br />
            <div class="list-group col-md-8 offset-md-2">
                {% for school in schools%}
                <a href="{{ school.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h3 class="md-1">{{ school.name }}</h3>
                    <p class="md-1">{{ school.administration_dept }}, {{ school.location }}, {{ school.level }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        {% include 'foot.html' %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-suggest.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/zhaoxiao.js' %}"></script>
</body>

</html>
